@charset "UTF-8";

@media screen and (min-width:768px) and (max-width:992px) {

    main > section#login{
        width: 80vw;
        height: 300px;
    }
    
    body{
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
    
    section#login > div#img{
        float: left;
        width: 40%;
        height: 100%;
        background-position: center center;
    }
    
    section#login > div#form{
        float: right;
        width: 60%;
    }
}

@media screen and (min-width:992px) {
    
    body{
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    main > section#login{
        width: 950px;
        height: 360px;
    }

    section#login > div#img{
        float: right;
        width: 50%;
        height: 100%;
        background-position:center;
    }

    section#login > div#form{
        float: left;
        width: 50%; 
    }

    div#form > h1{
        font-size: 2em;
    }

    div#form > p{
        font-size: 1.2em;
    }


    form > input[type = submit]{
        margin-top: 16px;
    }

    form > a.buttom{
        margin-top: 5px;
    }
}